@tailwind base;
@tailwind components;
@tailwind utilities;



.animate{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) ;
}
.delay{
  animation: play 2.5s cubic-bezier(0.4, 0, 0.6, 1) ;
}
@keyframes pulse {
  0% {
    height: 0;
  }
  100% {
    height:100vh;
  }
}
@keyframes play {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
ul {
  list-style: none;
}
li {

  cursor: pointer;
}
.navbar-menu-item{
 text-align: center;
}
.navbar-menu-item:hover .under-menu{
  display: inline-block;
  color: #cd9473;
  
}
.color-icon{
  color: #cd9473 !important;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 60px;
}
.bg-image{
  background: url(../public/img/chef-cooking.jpg);
  background-position: center;
  background-size: 100%;
  



}

.bg-iframe{
  background-color: black;
}

select{

  border-width: 20px !important; 
 border-top-width: 0 !important;
 border-bottom-width: 0 !important;
 border-left-width: 0 !important;

}
